/* This is a comment */

/* CSS Syntax:

selector {
  property: value;
  property: value;
}

*/

/* Type selector */
p { /* select all <p> */
  font-size: 1em; /*6 px, ?pt, 100%, 1em */
  line-height: 1.5em;
}

figcaption {
  /*font-weight: normal;
  font-size: 0.7em;
  line-height: 1.5em;
  font-family: Georgia, "New Times Roman", serif; */
  font: normal 0.75em/1.5em Georgia, "New Times Roman", serif;
  /*The single statement above satisfies all of the commented out styles.
  This is much more readable and efficient*/
  color: #84C /*same as 8844CC, 88 = red 44 = green CC = green 0-9 and A-F
  rgba(255, 0, 0, 0.5);
  black, red, green, etc
}
